{% extends 'base.html' %}

{% block title %}
    Cart
{% endblock %}

{% block content %}
    <div class="col-md-9">
        {% load cart_tag %}

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Book name</th>
                <th>Book price</th>
                <th>Book quantity</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            {% for key,value in request.session.cart.items %}
                <tr>
                    <td>{{ value.name }}</td>
                    <td>{{ value.price }}</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Quantity">
                                <a class="btn btn-warning" href="{% url 'order:item_increment' value.product_id %}">+</a>
                            <span class="quantity m-2">{{ value.quantity }}</span>
                                {% if value.quantity == 1 %}
                                    <a class="btn btn-warning" href="{% url 'order:item_clear' value.product_id %}">Delete</a>
                                {% else %}
                                    <a class="btn btn-warning" href="{% url 'order:item_decrement' value.product_id %}">-</a>
                                {% endif %}
                        </div>
                    </td>
                    <td>{{ value.price|multiply:value.quantity }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{% url 'book:book_list' %}" class="btn btn-primary me-5">Back to Book list</a>
        <a class="btn btn-warning me-2" href="{% url 'order:cart_clear' %}">Clear cart</a>
        <a class="btn btn-warning" href="{% url 'order:address_confirmation' %}">Order</a>
    </div>
{% endblock %}
