{% extends 'base.html' %}

{% block title %}
    Order address
{% endblock %}

{% block content %}
    <div class="col-md-9">
        <div class="container">
            <div class="row justify-content-center">

                <h1 class="text-center">Order Address</h1>
                <form method="post" action="{% url 'order:address_confirmation' %}" class="text-center">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

